@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1 {
		margin-right: 30px;
	}

}

@media only screen and (min-width: 1024px) {

	body {
		background-color: #f5f5f5;
	}

	.site-header .wrap {
		padding: 40px 0;
		padding: 4rem 0;
	}

	.title-area {
		text-align: left;
	}

	.header-image .site-header .wrap {
		background-position: left top;
	}

	.header-image .site-header .widget-area {
		padding: 40px 0;
		padding: 4rem 0;
	}

	.site-header .search-form {
		float: right;
		margin: 24px 0 0;
		margin: 2.4rem 0 0;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.full-width-content .content {
		width: 100%;
	}

	.site-header .widget-area {
		text-align: right;
	}

	.genesis-nav-menu {
		text-align: left;
	}

	.genesis-nav-menu a {
		padding: 28px 24px;
		padding: 2.8rem 2.4rem;
	}

	.genesis-nav-menu > .first > a {
		padding-left: 0;
	}

	.genesis-nav-menu > .last > a {
		padding-right: 0;
	}

	.genesis-nav-menu > .right {
		display: inline-block;
		float: right;
		list-style-type: none;
		padding: 28px 0;
		padding: 2.8rem 0;
		text-transform: uppercase;
	}

	.genesis-nav-menu > .right > a {
		display: inline;
		padding: 0;
	}

	.genesis-nav-menu > .search {
		padding: 14px 0 0;
		padding: 1.4rem 0 0;
	}

	.site-inner,
	.wrap {
		padding-left: 0;
		padding-right: 0;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.site-footer {
		padding: 40px 0;
		padding: 4rem 0;
	}

	.footer-widgets {
		padding: 40px 0 16px;
		padding: 4rem 0 1.6rem;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.sidebar-secondary {
		width: 180px;
	}

	.footer-widgets-1 {
		margin-right: 40px;
		margin-right: 4rem;
	}

	.archive-description {
		padding: 40px 40px 24px;
		padding: 4rem 4rem 2.4rem;
	}

	.author-box {
		padding: 40px;
		padding: 4rem;
	}

	.comment-respond,
	.entry-pings {
		padding: 40px 40px 16px;
		padding: 4rem 4rem 1.6rem;
	}

	.entry {
		padding: 40px 40px 24px;
		padding: 4rem 4rem 2.4rem;
	}

	.entry-comments {
		padding: 40px;
		padding: 4rem;
	}

	.entry-footer .entry-meta {
		border-top: 2px solid #f5f5f5;
		margin: 0 -40px;
		margin: 0 -4rem;
		padding: 32px 40px 8px;
		padding: 3.2rem 4rem 0.8rem;
	}

	.sidebar .widget {
		padding: 40px;
		padding: 4rem;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 31.623931623931625%;
	}

	.footer-widgets-2,
	.footer-widgets-3 {
		margin-left: 2.564102564102564%;
	}
}

@media only screen and (min-width: 1140px) {

	.site-inner,
	.wrap {
		max-width: 1140px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 920px;
	}

	.content {
		float: right;
		width: 740px;
	}

	.site-header .widget-area {
		width: 800px;
	}

	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content {
		width: 520px;
	}

}