/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: $color-text-light;
}

.sidebar .widget.enews-widget {
	background-color: $color-background-dark;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid $color-border-dark;
}

.enews-widget input {
	font-size: 16px;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: $color-text-accent;
	color: $color-text-light;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: $color-background-button-light;
	color: $color-text-dark;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}