.sidebar {
	font-size: 16px;
}

.sidebar li {
	border-bottom: 1px dotted $color-border-light;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: $color-background-dark;
	margin-bottom: 40px;
	padding: 40px;
}