/* # Variables
---------------------------------------------------------------------------------------------------- */


/* ## Colors
--------------------------------------------- */
$color-site-bg: #f5f5f5;
$color-font: #000000;
$color-link: #e5554e;
$color-link-visited: $color-link;
$color-link-hover: #000000;

/* ## Fonts
--------------------------------------------- */
$font-sans: Lato, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono: "Courier 10 Pitch", Courier, monospace;