// Colors
$blue: #477dca;
$gray-dark: #333;
$gray-medium: #999;
$gray-light: #ddd;
$red-light: #fbe3e4;
$yellow-light: #fff6bf;
$green-light: #e6efc2;

// Background Color
$color-background: #fff;
$color-background-dark: $gray-dark;
$color-background-light: $gray-light;
$color-background-button-dark: $gray-dark;
$color-background-button-light: $gray-light;

// Font Colors
$color-text: $gray-dark;
$color-text-dark: $gray-dark;
$color-text-light: $gray-light;
$color-text-accent: $blue;

// Link Colors
$color-link: $color-text-accent;
$color-link-hover: darken($color-text-accent, 15);
$color-button-link-color: $color-link;
$color-button-link-hover: $color-link-hover;

// Border color
$color-border-light: $gray-light;
$color-border-dark: $gray-dark;

// Flash Colors
$color-alert: $yellow-light;
$color-error: $red-light;
$color-notice: lighten($color-text-accent, 40);
$color-success: $green-light;

// Typography
$sans-serif: Lato, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$mono: "Courier 10 Pitch", Courier, monospace;

$font-family-base: $sans-serif;
$font-family-header: $serif;
